
li:nth-child(1)
{
    color: red;
    font-family:'Tangerine' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
li:nth-child(2)
{
    color: green;
    font-family:'Tangerine' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
li:nth-child(3)
{
    color:yellow;
    font-family:'Tangerine' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 

li:nth-child(4)
{
    color:orange;
    font-family:'Tangerine' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
li:nth-child(5)
{
    color:skyblue;
    font-family:'Tangerine' ,
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
} 
h2{
    color: pink;
    font-family:'Tangerine' 
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}
h3:nth-child(2)
{
    color: pink;
    font-family:'Tangerine' 
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}
h4{
    color: pink;
    font-family:'Tangerine' 
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}
h5{
    color: pink;
    font-family:'Tangerine' 
    sans-serif;
    font-weight: 100;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}
